{
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": 2,
                "useBuiltIns": "entry",
                "targets": "> 2%, last 2 versions, ie 11"
            }
        ]
    ]
}